@page
@model CreateModel
@{
    ViewData["Title"] = "Create Reservation";
}

<h2>Create Reservation</h2>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Start Date</label>
        <input asp-for="Reservation.startDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">End Date</label>
        <input asp-for="Reservation.endDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirmation Number</label>
        <input asp-for="Reservation.confirmationNumber" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>

</form>