@page
@model CreateModel
@{
    ViewData["Title"] = "Create Reservation";
}

<h2>Create Reservation</h2>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Site Number</label>
        <input asp-for="Reservation.ReservationId" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.StartDate">Check-In</label>
        <input asp-for="Reservation.StartDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.EndDate"></label>
        <input asp-for="Reservation.EndDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.ConfirmationNumber">Confirmation Number</label>
        <input asp-for="Reservation.ConfirmationNumber" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.UserAccountId">User Account Id</label>
        <input asp-for="Reservation.UserAccountId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>

</form>