@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Reservation";
}

<h2>Edit Reservation</h2>

<form method="post">

    <input type="hidden" asp-for="Reservation.ReservationId" />

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.ReservationId"></label>
        <input asp-for="Reservation.ReservationId" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.StartDate">Check-In</label>
        <input asp-for="Reservation.StartDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.EndDate"></label>
        <input asp-for="Reservation.EndDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.ConfirmationNumber"></label>
        <input asp-for="Reservation.ConfirmationNumber" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Reservation.UserAccountId"></label>
        <input asp-for="Reservation.UserAccountId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>

</form>