@page
@model RVPark.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Client Profile";
}

<div class="app-container">

    <!-- Main Content -->
    <div class="main-content">

        <!-- Profile Card -->
        <div class="profile-container card p-4 shadow-sm">

            <div class="avatar-icon text-center mb-3">
                <i class="bi bi-person-circle" style="font-size: 5rem;"></i>
            </div>

            <h4 class="text-center mb-3">@Model.Profile.FirstName @Model.Profile.LastName</h4>

            <p class="contact text-center mb-3"><i class="bi bi-envelope-fill"></i> @Model.Profile.Email</p>

            <div class="button-group d-flex justify-content-center gap-2 flex-wrap">
                <a asp-page="./Edit" class="btn btn-primary">Edit Personal Info</a>
                <a asp-page="./Vehicle" class="btn btn-success">Edit Vehicles</a>
                @* <a asp-page="./Payment" class="btn btn-danger">Edit Payment Info</a> *@
                
            </div>

        </div>

    </div>

</div>

