@page
@model RVfamcamp.Pages.Payments.CancelationModel
@{
	ViewData["Title"] = "Payment Canceled";
}

<h1>Your payment was Cancled!</h1>
<p>Display Payment details here!</p>
<p>Display Cancelation details here!</p>