@page
@model RVfamcamp.Pages.Payments.MakePaymentModel
@{
	ViewData["Title"] = "Make Payment";
}

<h1>@ViewData["Title"]</h1>

<p>Stripe API Sandbox Testing:</p>
<form method="post">
	<button type="submit">Pay $10</button>
</form>