@page
@model RVfamcamp.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="container" style="max-width:400px; margin-top:100px;">

    <h2 class="text-center">Login</h2>

    <form asp-action="Login" method="post">
        
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
		}
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Enter email" required autofocus />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Enter password" required />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe" id="Input_RememberMe" />
            <label class="form-check-label" asp-for="Input.RememberMe">
                Remember me
            </label>
        </div>

        <button id="loginButton" type="submit" class="btn btn-primary w-100 ">
            Login
        </button>

        <p class="mt-3 text-center">
            Don't have an account?
            <a asp-page="/Account/Register">Create one here</a>
        </p>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}