@page
@model RVfamcamp.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container" style="max-width:400px; margin-top:100px;">

    <h2 class="text-center">Logging out</h2>

</div>

