<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RVfamcamp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RVfamcamp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark custom-navbar border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-page="/Index">RVfamcamp</a>
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-flex justify-content-between align-items-center">

                    <!-- Left side -->
                    <ul class="navbar-nav align-items-center">

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Reservations/Index">Reservations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Payments">Payments</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Profile/Index">Profile</a>
                        </li>

                    </ul>

                    <!-- Right side -->
                    <ul class="navbar-nav align-items-center">

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Login">Login</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - RVfamcamp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
